"*":
  "atom-beautify":
    general:
      _analyticsUserId: "43203fc4-3251-43ca-b49d-c1a5b2ca538b"
  "atom-package-deps":
    ignored: []
  core:
    disabledPackages: [
      "autocomplete-css"
      "minimap"
      "rails-model-schema"
      "slim-language"
      "block-travel"
      "autocomplete-css-with-stylus-support"
      "autocomplete-ruby"
      "emmet"
      "git-time-machine"
      "intentions"
      "language-haml"
      "merge-conflicts"
      "rails-partials"
      "random"
      "ide-vue"
      "github"
      "pigments"
      "file-icons"
      "hyperclick"
      "color-picker"
      "busy-signal"
      "js-hyperclick"
      "background-tips"
      "language-vue-component"
      "linter-jshint"
      "jshint"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "monokai-seti"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Monaco"
    fontSize: 12
    invisibles: {}
    openEmptyEditorOnStart: false
    showInvisibles: true
    useShadowDOM: true
  "exception-reporting":
    userId: "1dfd30ba-d42c-404f-7651-0e7f151f914f"
  "file-types":
    "*.rb": "source.ruby.rails"
  "fuzzy-finder":
    searchAllPanes: true
    useAlternateScoring: true
  "git-blame":
    columnWidth: 355
  "highlight-selected": {}
  jshint: {}
  linter: {}
  "linter-eslint":
    autofix:
      fixOnSave: true
    scopes: [
      "source.js"
      "source.jsx"
      "source.js.jsx"
      "source.flow"
      "source.babel"
      "source.js-semantic"
      "text.html.vue"
      "source.vue"
    ]
  "linter-ui-default":
    panelHeight: 69
  minimap:
    displayCodeHighlights: false
  "one-dark-ui": {}
  pigments: {}
  "prettier-atom":
    formatOnSaveOptions:
      showInStatusBar: true
    useEslint: true
  "ruby-block":
    highlightLineNumber: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
    removeTrailingWhitespace: true
".slim.source":
  whitespace:
    removeTrailingWhitespace: true
".slim.text":
  whitespace:
    removeTrailingWhitespace: true
"linter-eslint":
  fixOnSave: true
